@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  overflow-x: hidden;
  /* text-align: center; */
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;

  min-width: 320px;
  min-height: 100vh;
}

.main{
  width: 100vw;
  /* overflow-x: hidden;
  width: 95vw; */
  /* background-color: #213547; */
 

}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
